.bg_AirForceBlue {
    background-color: #5D8AA8 !important;
 }
.bg_AliceBlue  {
    background-color: #F0F8FF !important;
 }
.bg_AlizarinCrimson {
    background-color: #E32636 !important;
 }
.bg_Almond  {
    background-color: #EFDECD !important;
 }
.bg_Amaranth  {
    background-color: #E52B50 !important;
 }
.bg_Amber  {
    background-color: #FFBF00 !important;
 }
.bg_AmberSAE, .bg_AmberECE  {
    background-color: #FF7E00 !important;
 }
.bg_AmericanRose {
    background-color: #FF033E !important;
 }
.bg_Amethyst  {
    background-color: #9966CC !important;
 }
.bg_AndroidGreen {
    background-color: #A4C639 !important;
 }
.bg_Anti-flashWhite  {
    background-color: #F2F3F4 !important; 
}
.bg_AntiqueBrass  {
    background-color: #CD9575 !important; 
} 
.bg_AntiqueFuchsia  {
    background-color: #915C83 !important;
}
.bg_AntiqueWhite  {
    background-color: #FAEBD7 !important; 
}
.bg_Ao  {
    background-color: #008000 !important; 
}
.bg_AppleGreen  {
    background-color: #8DB600 !important; 
}
.bg_Apricot  {
    background-color: #FBCEB1 !important; 
}
.bg_Aqua  {
    background-color: #00FFFF !important;
}
.bg_Aquamarine  {
    background-color: #7FFFD0 !important;
}
.bg_ArmyGreen  {
    background-color: #4B5320 !important; 
}
.bg_Arsenic {
    background-color: #3B444B !important;
}
.bg_ArylideYellow {
    background-color: #E9D66B !important;
}
.bg_AshGrey, .bg_AshGray {
    background-color: #B2BEB5 !important; 
}
.bg_Asparagus {
    background-color: #87A96B !important; 
}
.bg_AtomicTangerine {
    background-color: #FF9966 !important; 
}
.bg_Auburn {
    background-color: #6D351A !important; 
}
.bg_Aureolin {
    background-color: #FDEE00 !important; 
}
.bg_AuroMetalSaurus {
    background-color: #6E7F80 !important; 
}
.bg_Awesome {
    background-color: #FF2052 !important; 
}
.bg_Azure {
    background-color: #007FFF !important; 
}
.bg_AzureMist .bg_AzureWeb {
    background-color: #F0FFFF
}
.bg_BabyBlue {
    background-color: #89CFF0 !important; 
}
.bg_BabyBlueEyes {
    background-color: #A1CAF1 !important; 
}
.bg_BabyPink {
    background-color: #F4C2C2 !important; 
}
.bg_BallBlue {
    background-color: #21ABCD !important; 
}
.bg_BananaMania {
    background-color: #FAE7B5 !important; 
}
.bg_BananaYellow {
    background-color: #FFE135 !important; 
}
.bg_BattleshipGrey , .bg_BattleshipGray {
    background-color: #848482 !important; 
}
.bg_Bazaar {
    background-color: #98777B !important; 
}
.bg_BeauBlue {
    background-color: #BCD4E6 !important; 
}
.bg_Beaver {
    background-color: #9F8170 !important; 
}
.bg_Beige {
    background-color: #F5F5DC !important; 
}
.bg_Bisque {
    background-color: #FFE4C4 !important; 
}
.bg_Bistre {
    background-color: #3D2B1F !important; 
}
.bg_Bittersweet {
    background-color: #FE6F5E !important; 
}
.bg_Black {
    background-color: #000000 !important; 
}
.bg_BlanchedAlmond {
    background-color: #FFEBCD !important; 
}
.bg_BleuDeFrance {
    background-color: #318CE7 !important; 
}
.bg_BlizzardBlue {
    background-color: #ACE5EE !important; 
}
.bg_Blond {
    background-color: #FAF0BE !important; 
}
.bg_Blue {
    background-color: #0000FF !important; 
}
.bg_BlueMunsell {
    background-color: #0093AF !important; 
}
.bg_BlueNCS {
    background-color: #0087BD !important; 
}
.bg_BluePigment {
    background-color: #333399 !important; 
}
.bg_BlueRYB {
    background-color: #0247FE !important; 
}
.bg_BlueBell {
    background-color: #A2A2D0 !important; 
}
.bg_BlueGray , .bg_BlueGrey {
    background-color: #6699CC !important; 
}
.bg_Blue-green {
    background-color: #00DDDD !important; 
}
.bg_Blue-violet {
    background-color: #8A2BE2 !important; 
}
.bg_Blush {
    background-color: #DE5D83 !important; 
}
.bg_Bole {
    background-color: #79443B !important; 
}
.bg_BondiBlue {
    background-color: #0095B6 !important; 
}
.bg_BostonUniversityRed {
    background-color: #CC0000 !important; 
}
.bg_BrandeisBlue {
    background-color: #0070FF !important; 
}
.bg_Brass {
    background-color: #B5A642 !important; 
}
.bg_BrickRed {
    background-color: #CB4154 !important; 
}
.bg_BrightCerulean {
    background-color: #1DACD6 !important; 
}
.bg_BrightGreen {
    background-color: #66FF00 !important; 
}
.bg_BrightLavender {
    background-color: #BF94E4 !important; 
}
.bg_BrightMaroon {
    background-color: #C32148 !important; 
}
.bg_BrightPink {
    background-color: #FF007F !important; 
}
.bg_BrightPurquoise {
    background-color: #08E8DE !important; 
}
.bg_BrightUbe {
    background-color: #D19FE8 !important; 
}
.bg_BrilliantLavender {
    background-color: #F4BBFF !important; 
}
.bg_BrilliantRose {
    background-color: #FF55A3 !important; 
}
.bg_BrinkPink {
    background-color: #FB607F !important; 
}
.bg_BritishRacingGreen {
    background-color: #004225 !important; 
}
.bg_Bronze {
    background-color: #CD7F32 !important; 
}
.bg_Brown {
    background-color: #964B00 !important; 
}
.bg_BrownWeb{
    background-color: #A52A2A !important; 
}
.bg_BubbleGum {
    background-color: #FFC1CC !important; 
}
.bg_Bubbles {
    background-color: #E7FEFF !important; 
}
.bg_Buff {
    background-color: #F0DC82 !important; 
}
.bg_BulgarianRose {
    background-color: #480607 !important; 
}
.bg_Burgundy {
    background-color: #800020 !important; 
}
.bg_Burlywood {
    background-color: #DEB887 !important; 
}
.bg_BurntOrange {
    background-color: #CC5500 !important; 
}
.bg_BurntSienna {
    background-color: #E97451 !important; 
}
.bg_BurntUmber {
    background-color: #8A3324 !important; 
}
.bg_Byzantine {
    background-color: #BD33A4 !important; 
}
.bg_Byzantium {
    background-color: #702963 !important;
}
.bg_Cadet {
    background-color: #536872 !important; 
}
.bg_CadetBlue {
    background-color: #5F9EA0 !important; 
}
.bg_CadetGrey , .bg_CadetGray {
    background-color: #91A3B0 !important; 
}
.bg_CadmiumGreen {
    background-color: #006B3C !important; 
}
.bg_CadmiumOrange {
    background-color: #ED872D !important; 
}
.bg_CadmiumRed {
    background-color: #E30022 !important; 
}
.bg_CadmiumYellow {
    background-color: #FFF600 !important; 
}
.bg_CalPolyPomonaGreen {
    background-color: #1E4D2B !important; 
}
.bg_CambridgeBlue {
    background-color: #A3C1AD !important; 
}
.bg_Camel {
    background-color: #C19A6B !important; 
}
.bg_CamouflageGreen {
    background-color: #78866B !important; 
}
.bg_CanaryYellow {
    background-color: #FFEF00 !important; 
}
.bg_CandyAppleRed {
    background-color: #FF0800 !important; 
}
.bg_CandyPink {
    background-color: #E4717A !important; 
}
.bg_Capri {
    background-color: #00BFFF !important; 
}
.bg_CaputMortuum {
    background-color: #592720 !important; 
}
.bg_Cardinal {
    background-color: #C41E3A !important; 
}
.bg_CaribbeanGreen {
    background-color: #00CC99 !important; 
}
.bg_Carmine {
    background-color: #960018 !important; 
}
.bg_CarminePink {
    background-color: #EB4C42 !important; 
}
.bg_CarmineRed {
    background-color: #FF0038 !important; 
}
.bg_CarnationPink {
    background-color: #FFA6C9 !important; 
}
.bg_Carnelian {
    background-color: #B31B1B !important; 
}
.bg_CarolinaBlue {
    background-color: #99BADD !important; 
}
.bg_CarrotOrange {
    background-color: #ED9121 !important; 
}
.bg_Ceil {
    background-color: #92A1CF !important; 
}
.bg_Celadon {
    background-color: #ACE1AF !important; 
}
.bg_CelestialBlue {
    background-color: #4997D0 !important; 
}
.bg_Cerise {
    background-color: #DE3163 !important; 
}
.bg_CerisePink {
    background-color: #EC3B83 !important; 
}
.bg_Cerulean {
    background-color: #007BA7 !important; 
}
.bg_CeruleanBlue {
    background-color: #2A52BE !important; 
}
.bg_Chamoisee {
    background-color: #A0785A !important; 
}
.bg_Champagne {
    background-color: #F7E7CE !important; 
}
.bg_Charcoal {
    background-color: #36454F !important; 
}
.bg_Chartreuse {
    background-color: #DFFF00 !important; 
}
.bg_ChartreuseWeb {
    background-color: #7FFF00 !important; 
}
.bg_CherryBlossomPink {
    background-color: #FFB7C5 !important; 
}
.bg_Chestnut {
    background-color: #CD5C5C !important; 
}
.bg_Chocolate {
    background-color: #7B3F00 !important; 
}
.bg_ChocolateWeb {
    background-color: #D2691E !important; 
}
.bg_ChromeYellow {
    background-color: #FFA700 !important; 
}
.bg_Cinereous {
    background-color: #98817B !important; 
}
.bg_Cinnabar {
    background-color: #E34234 !important; 
}
.bg_Cinnamon {
    background-color: #D2691E !important; 
}
.bg_Citrine {
    background-color: #E4D00A !important; 
}
.bg_ClassicRose {
    background-color: #FBCCE7 !important; 
}
.bg_Cobalt {
    background-color: #0047AB !important; 
}
.bg_CocoaBrown {
    background-color: #D2691E !important; 
}
.bg_Coffee {
    background-color: #C86428 !important; 
}
.bg_ColumbiaBlue {
    background-color: #9BDDFF !important; 
}
.bg_CoolBlack {
    background-color: #002E63 !important; 
}
.bg_CoolGrey , .bg_CoolGray {
    background-color: #8C92AC !important; 
}
.bg_Copper {
    background-color: #B87333 !important; 
}
.bg_CopperRose {
    background-color: #996666 !important; 
}
.bg_Coquelicot {
    background-color: #FF3800 !important; 
}
.bg_Coral {
    background-color: #FF7F50 !important; 
}
.bg_CoralPink {
    background-color: #F88379 !important; 
}
.bg_CoralRed {
    background-color: #FF4040 !important; 
}
.bg_Cordovan {
    background-color: #893F45 !important; 
}
.bg_Corn {
    background-color: #FBEC5D !important; 
}
.bg_CornellRed {
    background-color: #B31B1B !important; 
}
.bg_CornflowerBlue {
    background-color: #6495ED !important; 
}
.bg_Cornsilk {
    background-color: #FFF8DC !important; 
}
.bg_CosmicLatte {
    background-color: #FFF8E7 !important; 
}
.bg_CottonCandy {
    background-color: #FFBCD9 !important; 
}
.bg_Cream {
    background-color: #FFFDD0 !important; 
}
.bg_Crimson {
    background-color: #DC143C !important; 
}
.bg_CrimsonGlory {
    background-color: #BE0032 !important; 
}
.bg_Cyan {
    background-color: #00FFFF !important; 
}
.bg_CyanProcess{
    background-color: #00B7EB !important;
}
.bg_Daffodil {
    background-color: #FFFF31 !important; 
}
.bg_Dandelion {
    background-color: #F0E130 !important; 
}
.bg_DarkBlue {
    background-color: #00008B !important; 
}
.bg_DarkBrown {
    background-color: #654321 !important; 
}
.bg_DarkByzantium {
    background-color: #5D3954 !important; 
}
.bg_DarkCandyAppleRed {
    background-color: #A40000 !important; 
}
.bg_DarkCerulean {
    background-color: #08457E !important; 
}
.bg_DarkChampagne {
    background-color: #C2B280 !important; 
}
.bg_DarkChestnut {
    background-color: #986960 !important; 
}
.bg_DarkCoral {
    background-color: #CD5B45 !important; 
}
.bg_DarkCyan {
    background-color: #008B8B !important; 
}
.bg_DarkElectricBlue {
    background-color: #536878 !important; 
}
.bg_DarkGoldenrod {
    background-color: #B8860B !important; 
}
.bg_DarkGray, .bg_DarkGrey {
    background-color: #A9A9A9 !important; 
}
.bg_DarkGreen {
    background-color: #013220 !important; 
}
.bg_DarkJungleGreen {
    background-color: #1A2421 !important; 
}
.bg_DarkKhaki {
    background-color: #BDB76B !important; 
}
.bg_DarkLava {
    background-color: #483C32 !important; 
}
.bg_DarkLavender {
    background-color: #734F96 !important; 
}
.bg_DarkMagenta {
    background-color: #8B008B !important; 
}
.bg_DarkMidnightBlue {
    background-color: #003366 !important; 
}
.bg_DarkOliveGreen {
    background-color: #556B2F !important; 
}
.bg_DarkOrange {
    background-color: #FF8C00 !important; 
}
.bg_DarkOrchid {
    background-color: #9932CC !important; 
}
.bg_DarkPastelBlue {
    background-color: #779ECB !important; 
}
.bg_DarkPastelGreen {
    background-color: #03C03C !important; 
}
.bg_DarkPastelPurple {
    background-color: #966FD6 !important; 
}
.bg_DarkPastelRed {
    background-color: #C23B22 !important; 
}
.bg_DarkPink {
    background-color: #E75480 !important; 
}
.bg_DarkRaspberry {
    background-color: #872657 !important; 
}
.bg_DarkRed {
    background-color: #8B0000 !important; 
}
.bg_DarkSalmon {
    background-color: #E9967A !important; 
}
.bg_DarkScarlet {
    background-color: #560319 !important; 
}
.bg_DarkSeaGreen {
    background-color: #8FBC8F !important; 
}
.bg_DarkSienna {
    background-color: #3C1414 !important; 
}
.bg_DarkSlateBlue {
    background-color: #483D8B !important; 
}
.bg_DarkSlateGray {
    background-color: #2F4F4F !important; 
}
.bg_DarkSpringGreen {
    background-color: #177245 !important; 
}
.bg_DarkTan {
    background-color: #918151 !important; 
}
.bg_DarkTangerine {
    background-color: #FFA812 !important; 
}
.bg_DarkTaupe {
    background-color: #483C32 !important; 
}
.bg_DarkTerraCotta {
    background-color: #CC4E5C !important; 
}
.bg_DarkTurquoise {
    background-color: #00CED1 !important; 
}
.bg_DarkViolet {
    background-color: #9400D3 !important; 
}
.bg_DartmouthGreen {
    background-color: #00693E !important; 
}
.bg_DavysGrey , .bg_DavysGray {
    background-color: #555555 !important; 
}
.bg_DebianRed {
    background-color: #D70A53 !important; 
}
.bg_DeepCarmine {
    background-color: #A9203E !important; 
}
.bg_DeepCarminePink {
    background-color: #EF3038 !important; 
}
.bg_DeepCarrotOrange {
    background-color: #E9692C !important; 
}
.bg_DeepCerise {
    background-color: #DA3287 !important; 
}
.bg_DeepChampagne {
    background-color: #FAD6A5 !important; 
}
.bg_DeepChestnut {
    background-color: #B94E48 !important; 
}
.bg_DeepFuchsia {
    background-color: #C154C1 !important; 
}
.bg_DeepJungleGreen {
    background-color: #004B49 !important; 
}
.bg_DeepLilac {
    background-color: #9955BB !important; 
}
.bg_DeepMagenta {
    background-color: #CC00CC !important; 
}
.bg_DeepPeach {
    background-color: #FFCBA4 !important; 
}
.bg_DeepPink {
    background-color: #FF1493 !important; 
}
.bg_DeepSaffron {
    background-color: #FF9933 !important; 
}
.bg_DeepSkyBlue {
    background-color: #00BFFF !important; 
}
.bg_Denim {
    background-color: #1560BD !important; 
}
.bg_Desert {
    background-color: #C19A6B !important; 
}
.bg_DesertSand {
    background-color: #EDC9AF !important; 
}
.bg_DimGray, .bg_DimGrey {
    background-color: #696969 !important; 
}
.bg_DodgerBlue {
    background-color: #1E90FF !important; 
}
.bg_DogwoodRose {
    background-color: #D71868 !important; 
}
.bg_DollarBill {
    background-color: #85BB65 !important; 
}
.bg_Drab {
    background-color: #967117 !important; 
}
.bg_DukeBlue {
    background-color: #00009C !important;
}
.bg_EarthYellow {
    background-color: #E1A95F !important; 
}
.bg_Ecru {
    background-color: #C2B280 !important; 
}
.bg_Eggplant {
    background-color: #614051 !important; 
}
.bg_Eggshell {
    background-color: #F0EAD6 !important; 
}
.bg_EgyptianBlue {
    background-color: #1034A6 !important; 
}
.bg_ElectricBlue {
    background-color: #7DF9FF !important; 
}
.bg_ElectricCrimson {
    background-color: #FF003F !important; 
}
.bg_ElectricCyan {
    background-color: #00FFFF !important; 
}
.bg_ElectricGreen {
    background-color: #00FF00 !important; 
}
.bg_ElectricIndigo {
    background-color: #6F00FF !important; 
}
.bg_ElectricLavender {
    background-color: #F4BBFF !important; 
}
.bg_ElectricLime {
    background-color: #CCFF00 !important; 
}
.bg_ElectricPurple {
    background-color: #BF00FF !important; 
}
.bg_ElectricUltramarine {
    background-color: #3F00FF !important; 
}
.bg_ElectricViolet {
    background-color: #8F00FF !important; 
}
.bg_ElectricYellow {
    background-color: #FFFF00 !important; 
}
.bg_Emerald {
    background-color: #50C878 !important; 
}
.bg_EtonBlue {
    background-color: #96C8A2 !important;
}
.bg_Fallow {
    background-color: #C19A6B !important; 
}
.bg_FaluRed {
    background-color: #801818 !important; 
}
.bg_Fandango {
    background-color: #B53389 !important; 
}
.bg_FashionFuchsia {
    background-color: #F400A1 !important; 
}
.bg_Fawn {
    background-color: #E5AA70 !important; 
}
.bg_Feldgrau {
    background-color: #4D5D53 !important; 
}
.bg_FernGreen {
    background-color: #4F7942 !important; 
}
.bg_FerrariRed {
    background-color: #FF2800 !important; 
}
.bg_FieldDrab {
    background-color: #6C541E !important; 
}
.bg_Firebrick {
    background-color: #B22222 !important; 
}
.bg_FireEngineRed {
    background-color: #CE2029 !important; 
}
.bg_Flame {
    background-color: #E25822 !important; 
}
.bg_FlamingoPink {
    background-color: #FC8EAC !important; 
}
.bg_Flavescent {
    background-color: #F7E98E !important; 
}
.bg_Flax {
    background-color: #EEDC82 !important; 
}
.bg_FloralWhite {
    background-color: #FFFAF0 !important; 
}
.bg_FluorescentOrange {
    background-color: #FFBF00 !important; 
}
.bg_FluorescentPink {
    background-color: #FF1493 !important; 
}
.bg_FluorescentYellow {
    background-color: #CCFF00 !important; 
}
.bg_Folly {
    background-color: #FF004F !important; 
}
.bg_ForestGreen(traditional) {
    background-color: #014421 !important; 
}
.bg_ForestGreen(web) {
    background-color: #228B22 !important; 
}
.bg_FrenchBeige {
    background-color: #A67B5B !important; 
}
.bg_FrenchBlue {
    background-color: #0072BB !important; 
}
.bg_FrenchLilac {
    background-color: #86608E !important; 
}
.bg_FrenchRose {
    background-color: #F64A8A !important; 
}
.bg_Fuchsia {
    background-color: #FF00FF !important; 
}
.bg_FuchsiaPink {
    background-color: #FF77FF !important; 
}
.bg_Fulvous {
    background-color: #E48400 !important; 
}
.bg_FuzzyWuzzy {
    background-color: #CC6666 !important;
}
.bg_Gainsboro {
    background-color: #DCDCDC !important; 
}
.bg_Gamboge {
    background-color: #E49B0F !important; 
}
.bg_GhostWhite {
    background-color: #F8F8FF !important; 
}
.bg_Ginger {
    background-color: #B06500 !important; 
}
.bg_Glaucous {
    background-color: #6082B6 !important; 
}
.bg_Gold {
    background-color: #D4AF37 !important; 
}
.bg_GoldWeb, .bg_Golden {
    background-color: #FFD700 !important; 
}
.bg_GoldenBrown {
    background-color: #996515 !important; 
}
.bg_GoldenPoppy {
    background-color: #FCC200 !important; 
}
.bg_GoldenYellow {
    background-color: #FFDF00 !important; 
}
.bg_Goldenrod {
    background-color: #DAA520 !important; 
}
.bg_GrannySmithApple {
    background-color: #A8E4A0 !important; 
}
.bg_Gray, .bg_Grey {
    background-color: #808080 !important; 
}
.bg_GrayWeb, .bg_GreyWeb {
    background-color: #7F7F7F !important; 
}
.bg_GrayX11 , .bg_GreyX11 {
    background-color: #BEBEBE !important; 
}
.bg_Gray-asparagus, .bg_Grey-asparagus {
    background-color: #465945 !important; 
}
.bg_Green{
    background-color: #00FF00 !important; 
}
.bg_GreenWeb {
    background-color: #008000 !important; 
}
.bg_GreenMunsell {
    background-color: #00A877 !important; 
}
.bg_GreenNCS {
    background-color: #009F6B !important; 
}
.bg_GreenPigment {
    background-color: #00A550 !important; 
}
.bg_GreenRYB {
    background-color: #66B032 !important; 
}
.bg_Green-yellow {
    background-color: #ADFF2F !important; 
}
.bg_Grullo {
    background-color: #A99A86 !important; 
}
.bg_GuppieGreen {
    background-color: #00FF7F !important;
}
.bg_HalayaUbe {
    background-color: #663854 !important; 
}
.bg_HanBlue {
    background-color: #446CCF !important; 
}
.bg_HanPurple {
    background-color: #5218FA !important; 
}
.bg_HansaYellow {
    background-color: #E9D66B !important; 
}
.bg_Harlequin {
    background-color: #3FFF00 !important; 
}
.bg_HarvardCrimson {
    background-color: #C90016 !important; 
}
.bg_HarvestGold {
    background-color: #DA9100 !important; 
}
.bg_HeartGold {
    background-color: #808000 !important; 
}
.bg_Heliotrope {
    background-color: #DF73FF !important; 
}
.bg_HollywoodCerise {
    background-color: #F400A1 !important; 
}
.bg_Honeydew {
    background-color: #F0FFF0 !important; 
}
.bg_HookersGreen {
    background-color: #007000 !important; 
}
.bg_HotMagenta {
    background-color: #FF1DCE !important; 
}
.bg_HotPink {
    background-color: #FF69B4 !important; 
}
.bg_HunterGreen {
    background-color: #355E3B !important;
}
.bg_Iceberg {
    background-color: #71A6D2 !important; 
}
.bg_Icterine {
    background-color: #FCF75E !important; 
}
.bg_Inchworm {
    background-color: #B2EC5D !important; 
}
.bg_IndiaGreen {
    background-color: #138808 !important; 
}
.bg_IndianRed {
    background-color: #CD5C5C !important; 
}
.bg_IndianYellow {
    background-color: #E3A857 !important; 
}
.bg_Indigo {
    background-color: #00416A !important; 
}
.bg_IndigoWeb {
    background-color: #4B0082 !important; 
}
.bg_InternationalKleinBlue {
    background-color: #002FA7 !important; 
}
.bg_InternationalOrange {
    background-color: #FF4F00 !important; 
}
.bg_Iris {
    background-color: #5A4FCF !important; 
}
.bg_Isabelline {
    background-color: #F4F0EC !important; 
}
.bg_IslamicGreen {
    background-color: #009000 !important; 
}
.bg_Ivory {
    background-color: #FFFFF0 !important;
}
.bg_Jade {
    background-color: #00A86B !important; 
}
.bg_Jasper {
    background-color: #D73B3E !important; 
}
.bg_Jasmine {
    background-color: #F8DE7E !important; 
}
.bg_JazzberryJam {
    background-color: #A50B5E !important; 
}
.bg_Jonquil {
    background-color: #FADA5E !important; 
}
.bg_JuneBud {
    background-color: #BDDA57 !important; 
}
.bg_JungleGreen {
    background-color: #29AB87 !important;
}
.bg_KellyGreen {
    background-color: #4CBB17 !important; 
}
.bg_Khaki {
    background-color: #C3B091 !important; 
}
.bg_KhakiX11, .bg_LightKhaki {
    background-color: #F0E68C !important; 
}
.bg_KUCrimson {
    background-color: #E8000D !important;
}
.bg_LaSalleGreen {
    background-color: #087830 !important; 
}
.bg_LanguidLavender {
    background-color: #D6CADD !important; 
}
.bg_LapisLazuli {
    background-color: #26619C !important; 
}
.bg_LaserLemon {
    background-color: #FEFE22 !important; 
}
.bg_Lava {
    background-color: #CF1020 !important; 
}
.bg_Lavender {
    background-color: #B57EDC !important; 
}
.bg_LavenderWeb {
    background-color: #E6E6FA !important; 
}
.bg_LavenderBlue {
    background-color: #CCCCFF !important; 
}
.bg_LavenderBlush {
    background-color: #FFF0F5 !important; 
}
.bg_LavenderGray, .bg_LavenderGrey {
    background-color: #C4C3D0 !important; 
}
.bg_LavenderIndigo {
    background-color: #9457EB !important; 
}
.bg_LavenderMagenta {
    background-color: #EE82EE !important; 
}
.bg_LavenderMist {
    background-color: #E6E6FA !important; 
}
.bg_LavenderPink {
    background-color: #FBAED2 !important; 
}
.bg_LavenderPurple {
    background-color: #967BB6 !important; 
}
.bg_LavenderRose {
    background-color: #FBA0E3 !important; 
}
.bg_LawnGreen {
    background-color: #7CFC00 !important; 
}
.bg_Lemon {
    background-color: #FFF700 !important; 
}
.bg_LemonChiffon {
    background-color: #FFFACD !important; 
}
.bg_LightApricot {
    background-color: #FDD5B1 !important; 
}
.bg_LightBlue {
    background-color: #ADD8E6 !important; 
}
.bg_LightBrown {
    background-color: #B5651D !important; 
}
.bg_LightCarminePink {
    background-color: #E66771 !important; 
}
.bg_LightCoral {
    background-color: #F08080 !important; 
}
.bg_LightCornflowerBlue {
    background-color: #93CCEA !important; 
}
.bg_LightCrimson {
    background-color: #F56991 !important; 
}
.bg_LightCyan {
    background-color: #E0FFFF !important; 
}
.bg_LightFuchsiaPink {
    background-color: #F984EF !important; 
}
.bg_LightGoldenrodYellow {
    background-color: #FAFAD2 !important; 
}
.bg_LightGray , .bg_LightGrey {
    background-color: #D3D3D3 !important; 
}
.bg_LightGreen {
    background-color: #90EE90 !important; 
}
.bg_LightKhaki {
    background-color: #F0E68C !important; 
}
.bg_LightMauve {
    background-color: #DCD0FF !important; 
}
.bg_LightPastelPurple {
    background-color: #B19CD9 !important; 
}
.bg_LightPink {
    background-color: #FFB6C1 !important; 
}
.bg_LightSalmon {
    background-color: #FFA07A !important; 
}
.bg_LightSalmonPink {
    background-color: #FF9999 !important; 
}
.bg_LightSeaGreen {
    background-color: #20B2AA !important; 
}
.bg_LightSkyBlue {
    background-color: #87CEEB !important; 
}
.bg_LightSlateGray , .bg_LightSlateGrey {
    background-color: #778899 !important; 
}
.bg_LightTaupe {
    background-color: #B38B6D !important; 
}
.bg_LightThulianPink {
    background-color: #E68FAC !important; 
}
.bg_LightYellow {
    background-color: #FFFFED !important; 
}
.bg_Lilac {
    background-color: #C8A2C8 !important; 
}
.bg_Lime {
    background-color: #BFFF00 !important; 
}
.bg_LimeWeb, .bg_GreenX11 {
    background-color: #00FF00 !important; 
}
.bg_LimeGreen {
    background-color: #32CD32 !important; 
}
.bg_LincolnGreen {
    background-color: #195905 !important; 
}
.bg_Linen {
    background-color: #FAF0E6 !important; 
}
.bg_Liver {
    background-color: #534B4F !important; 
}
.bg_Lust {
    background-color: #E62020 !important;
}
.bg_MacaroniAndCheese {
    background-color: #FFBD88 !important; 
}
.bg_Magenta {
    background-color: #FF00FF !important; 
}
.bg_MagentaDye {
    background-color: #CA1F7B !important; 
}
.bg_MagentaProcess {
    background-color: #FF0090 !important; 
}
.bg_MagicMint {
    background-color: #AAF0D1 !important; 
}
.bg_Magnolia {
    background-color: #F8F4FF !important; 
}
.bg_Mahogany {
    background-color: #C04000 !important; 
}
.bg_Maize {
    background-color: #FBEC5D !important; 
}
.bg_MajorelleBlue {
    background-color: #6050DC !important; 
}
.bg_Malachite {
    background-color: #0BDA51 !important; 
}
.bg_Manatee {
    background-color: #979AAA !important; 
}
.bg_MangoTango {
    background-color: #FF8243 !important; 
}
.bg_Maroon {
    background-color: #800000 !important; 
}
.bg_MaroonX11 {
    background-color: #B03060 !important; 
}
.bg_Mauve {
    background-color: #E0B0FF !important; 
}
.bg_MauveTaupe {
    background-color: #915F6D !important; 
}
.bg_Mauvelous {
    background-color: #EF98AA !important; 
}
.bg_MayaBlue {
    background-color: #73C2FB !important; 
}
.bg_MeatBrown {
    background-color: #E5B73B !important; 
}
.bg_MediumAquamarine {
    background-color: #66DDAA !important; 
}
.bg_MediumBlue {
    background-color: #0000CD !important; 
}
.bg_MediumCandyAppleRed {
    background-color: #E2062C !important; 
}
.bg_MediumCarmine {
    background-color: #AF4035 !important; 
}
.bg_MediumChampagne {
    background-color: #F3E5AB !important; 
}
.bg_MediumElectricBlue {
    background-color: #035096 !important; 
}
.bg_MediumJungleGreen {
    background-color: #1C352D !important; 
}
.bg_MediumLavenderMagenta {
    background-color: #DDA0DD !important; 
}
.bg_MediumOrchid {
    background-color: #BA55D3 !important; 
}
.bg_MediumPersianBlue {
    background-color: #0067A5 !important; 
}
.bg_MediumPurple {
    background-color: #9370DB !important; 
}
.bg_MediumRed-violet {
    background-color: #BB3385 !important; 
}
.bg_MediumSeaGreen {
    background-color: #3CB371 !important; 
}
.bg_MediumSlateBlue {
    background-color: #7B68EE !important; 
}
.bg_MediumSpringBud {
    background-color: #C9DC87 !important; 
}
.bg_MediumSpringGreen {
    background-color: #00FA9A !important; 
}
.bg_MediumTaupe {
    background-color: #674C47 !important; 
}
.bg_MediumTealBlue {
    background-color: #0054B4 !important; 
}
.bg_MediumTurquoise {
    background-color: #48D1CC !important; 
}
.bg_MediumViolet-red {
    background-color: #C71585 !important; 
}
.bg_Melon {
    background-color: #FDBCB4 !important; 
}
.bg_MidnightBlue {
    background-color: #191970 !important; 
}
.bg_MidnightGreen, .bg_EagleGreen {
    background-color: #004953 !important; 
}
.bg_MikadoYellow {
    background-color: #FFC40C !important; 
}
.bg_Mint {
    background-color: #3EB489 !important; 
}
.bg_MintCream {
    background-color: #F5FFFA !important; 
}
.bg_MintGreen {
    background-color: #98FF98 !important; 
}
.bg_MistyRose {
    background-color: #FFE4E1 !important; 
}
.bg_Moccasin {
    background-color: #FAEBD7 !important; 
}
.bg_ModeBeige {
    background-color: #967117 !important; 
}
.bg_MoonstoneBlue {
    background-color: #73A9C2 !important; 
}
.bg_MordantRed {
    background-color: #AE0C00 !important; 
}
.bg_MossGreen {
    background-color: #ADDFAD !important; 
}
.bg_MountainMeadow {
    background-color: #30BA8F !important; 
}
.bg_MountbattenPink {
    background-color: #997A8D !important; 
}
.bg_Mulberry {
    background-color: #C54B8C !important; 
}
.bg_Mustard {
    background-color: #FFDB58 !important; 
}
.bg_Myrtle {
    background-color: #21421E !important; 
}
.bg_MSUGreen {
    background-color: #18453B !important;
}
.bg_NadeshikoPink {
    background-color: #F6ADC6 !important; 
}
.bg_NapierGreen {
    background-color: #2A8000 !important; 
}
.bg_NaplesYellow {
    background-color: #FADA5E !important; 
}
.bg_NavajoWhite {
    background-color: #FFDEAD !important; 
}
.bg_NavyBlue {
    background-color: #000080 !important; 
}
.bg_NeonCarrot {
    background-color: #FFA343 !important; 
}
.bg_NeonFuchsia {
    background-color: #FE59C2 !important; 
}
.bg_NeonGreen {
    background-color: #39FF14 !important; 
}
.bg_Non-photoBlue {
    background-color: #A4DDED !important;
}
.bg_OceanBoatBlue {
    background-color: #0077BE !important; 
}
.bg_Ochre {
    background-color: #CC7722 !important; 
}
.bg_OfficeGreen {
    background-color: #008000 !important; 
}
.bg_OldGold {
    background-color: #CFB53B !important; 
}
.bg_OldLace {
    background-color: #FDF5E6 !important; 
}
.bg_OldLavender {
    background-color: #796878 !important; 
}
.bg_OldMauve {
    background-color: #673147 !important; 
}
.bg_OldRose {
    background-color: #C08081 !important; 
}
.bg_Olive {
    background-color: #808000 !important; 
}
.bg_OliveDrabWeb{
    background-color: #6B8E23 !important; 
}
.bg_OliveDrab{
    background-color: #3C341F !important; 
}
.bg_Olivine {
    background-color: #9AB973 !important; 
}
.bg_Onyx {
    background-color: #0F0F0F !important; 
}
.bg_OperaMauve {
    background-color: #B784A7 !important; 
}
.bg_Orange {
    background-color: #FF7F00 !important; 
}
.bg_OrangeRYB {
    background-color: #FB9902 !important; 
}
.bg_OrangeWeb {
    background-color: #FFA500 !important; 
}
.bg_OrangePeel {
    background-color: #FF9F00 !important; 
}
.bg_Orange-red {
    background-color: #FF4500 !important; 
}
.bg_Orchid {
    background-color: #DA70D6 !important; 
}
.bg_OtterBrown {
    background-color: #654321 !important; 
}
.bg_OuterSpace {
    background-color: #414A4C !important; 
}
.bg_OutrageousOrange {
    background-color: #FF6E4A !important; 
}
.bg_OxfordBlue {
    background-color: #002147 !important; 
}
.bg_OUCrimsonRed {
    background-color: #990000 !important;
}
.bg_PakistanGreen {
    background-color: #006600 !important; 
}
.bg_PalatinateBlue {
    background-color: #273BE2 !important; 
}
.bg_PalatinatePurple {
    background-color: #682860 !important; 
}
.bg_PaleAqua {
    background-color: #BCD4E6 !important; 
}
.bg_PaleBlue {
    background-color: #AFEEEE !important; 
}
.bg_PaleBrown {
    background-color: #987654 !important; 
}
.bg_PaleCarmine {
    background-color: #AF4035 !important; 
}
.bg_PaleCerulean {
    background-color: #9BC4E2 !important; 
}
.bg_PaleChestnut {
    background-color: #DDADAF !important; 
}
.bg_PaleCopper {
    background-color: #DA8A67 !important; 
}
.bg_PaleCornflowerBlue {
    background-color: #ABCDEF !important; 
}
.bg_PaleGold {
    background-color: #E6BE8A !important; 
}
.bg_PaleGoldenrod {
    background-color: #EEE8AA !important; 
}
.bg_PaleGreen {
    background-color: #98FB98 !important; 
}
.bg_PaleMagenta {
    background-color: #F984E5 !important; 
}
.bg_PalePink {
    background-color: #FADADD !important; 
}
.bg_PalePlum {
    background-color: #DDA0DD !important; 
}
.bg_PaleRed-violet {
    background-color: #DB7093 !important; 
}
.bg_PaleRobinEggBlue {
    background-color: #96DED1 !important; 
}
.bg_PaleSilver {
    background-color: #C9C0BB !important; 
}
.bg_PaleSpringBud {
    background-color: #ECEBBD !important; 
}
.bg_PaleTaupe {
    background-color: #BC987E !important; 
}
.bg_PaleViolet-red {
    background-color: #DB7093 !important; 
}
.bg_PansyPurple {
    background-color: #78184A !important; 
}
.bg_PapayaWhip {
    background-color: #FFEFD5 !important; 
}
.bg_ParisGreen {
    background-color: #50C878 !important; 
}
.bg_PastelBlue {
    background-color: #AEC6CF !important; 
}
.bg_PastelBrown {
    background-color: #836953 !important; 
}
.bg_PastelGray , .bg_PastelGrey {
    background-color: #CFCFC4 !important; 
}
.bg_PastelGreen {
    background-color: #77DD77 !important; 
}
.bg_PastelMagenta {
    background-color: #F49AC2 !important; 
}
.bg_PastelOrange {
    background-color: #FFB347 !important; 
}
.bg_PastelPink {
    background-color: #FFD1DC !important; 
}
.bg_PastelPurple {
    background-color: #B39EB5 !important; 
}
.bg_PastelRed {
    background-color: #FF6961 !important; 
}
.bg_PastelViolet {
    background-color: #CB99C9 !important; 
}
.bg_PastelYellow {
    background-color: #FDFD96 !important; 
}
.bg_Patriarch {
    background-color: #800080 !important; 
}
.bg_PaynesGrey, .bg_PaynesGray {
    background-color: #40404F !important; 
}
.bg_Peach {
    background-color: #FFE5B4 !important; 
}
.bg_Peach-orange {
    background-color: #FFCC99 !important; 
}
.bg_PeachPuff {
    background-color: #FFDAB9 !important; 
}
.bg_Peach-yellow {
    background-color: #FADFAD !important; 
}
.bg_Pear {
    background-color: #D1E231 !important; 
}
.bg_Pearl {
    background-color: #F0EAD6 !important; 
}
.bg_PearlAqua {
    background-color: #88D8C0 !important; 
}
.bg_Peridot {
    background-color: #E6E200 !important; 
}
.bg_Periwinkle {
    background-color: #CCCCFF !important; 
}
.bg_PersianBlue {
    background-color: #1C39BB !important; 
}
.bg_PersianGreen {
    background-color: #00A693 !important; 
}
.bg_PersianIndigo {
    background-color: #32127A !important; 
}
.bg_PersianOrange {
    background-color: #D99058 !important; 
}
.bg_PersianPink {
    background-color: #F77FBE !important; 
}
.bg_PersianPlum {
    background-color: #701C1C !important; 
}
.bg_PersianRed {
    background-color: #CC3333 !important; 
}
.bg_PersianRose {
    background-color: #FE28A2 !important; 
}
.bg_Persimmon {
    background-color: #EC5800 !important; 
}
.bg_Phlox {
    background-color: #DF00FF !important; 
}
.bg_PhthaloBlue {
    background-color: #000F89 !important; 
}
.bg_PhthaloGreen {
    background-color: #123524 !important; 
}
.bg_PiggyPink {
    background-color: #FDDDE6 !important; 
}
.bg_PineGreen {
    background-color: #01796F !important; 
}
.bg_Pink {
    background-color: #FFC0CB !important; 
}
.bg_Pink-orange {
    background-color: #FF9966 !important; 
}
.bg_PinkPearl {
    background-color: #E7ACCF !important; 
}
.bg_PinkSherbet {
    background-color: #F78FA7 !important; 
}
.bg_Pistachio {
    background-color: #93C572 !important; 
}
.bg_Platinum {
    background-color: #E5E4E2 !important; 
}
.bg_Plum {
    background-color: #8E4585 !important; 
}
.bg_PlumWeb {
    background-color: #DDA0DD !important; 
}
.bg_PortlandOrange {
    background-color: #FF5A36 !important; 
}
.bg_PowderBlue {
    background-color: #B0E0E6 !important; 
}
.bg_PrincetonOrange {
    background-color: #FF8F00 !important; 
}
.bg_ProcessBlue {
    background-color: #0088CE !important;
}
.bg_Prune {
    background-color: #701C1C !important; 
}
.bg_PrussianBlue {
    background-color: #003153 !important; 
}
.bg_PsychedelicPurple {
    background-color: #DF00FF !important; 
}
.bg_Puce {
    background-color: #CC8899 !important; 
}
.bg_Pumpkin {
    background-color: #FF7518 !important; 
}
.bg_Purple {
    background-color: #800080 !important; 
}
.bg_PurpleMunsell {
    background-color: #9F00C5 !important; 
}
.bg_PurpleX11 {
    background-color: #A020F0 !important; 
}
.bg_PurpleHeart {
    background-color: #69359C !important; 
}
.bg_PurpleMountainMajesty {
    background-color: #9678B6 !important; 
}
.bg_PurplePizzazz {
    background-color: #FE4EDA !important; 
}
.bg_PurpleTaupe {
    background-color: #50404D !important;
}
.bg_RadicalRed {
    background-color: #FF355E !important; 
}
.bg_Raspberry {
    background-color: #E30B5D !important; 
}
.bg_RaspberryGlace {
    background-color: #915F6D !important; 
}
.bg_RaspberryPink {
    background-color: #E25098 !important; 
}
.bg_RaspberryRose {
    background-color: #B3446C !important; 
}
.bg_RawUmber {
    background-color: #826644 !important; 
}
.bg_RazzleDazzleRose {
    background-color: #FF33CC !important; 
}
.bg_Razzmatazz {
    background-color: #E3256B !important; 
}
.bg_Red {
    background-color: #FF0000 !important; 
}
.bg_RedMunsell {
    background-color: #F2003C !important; 
}
.bg_RedNCS {
    background-color: #C40233 !important; 
}
.bg_RedPigment {
    background-color: #ED1C24 !important; 
}
.bg_RedRYB {
    background-color: #FE2712 !important; 
}
.bg_Red-brown {
    background-color: #A52A2A !important; 
}
.bg_Red-violet {
    background-color: #C71585 !important; 
}
.bg_Redwood {
    background-color: #AB4E52 !important; 
}
.bg_Regalia {
    background-color: #522D80 !important; 
}
.bg_RichBlack {
    background-color: #004040 !important; 
}
.bg_RichBrilliantLavender {
    background-color: #F1A7FE !important; 
}
.bg_RichCarmine {
    background-color: #D70040 !important; 
}
.bg_RichElectricBlue {
    background-color: #0892D0 !important; 
}
.bg_RichLavender {
    background-color: #A76BCF !important; 
}
.bg_RichLilac {
    background-color: #B666D2 !important; 
}
.bg_RichMaroon {
    background-color: #B03060 !important; 
}
.bg_RifleGreen {
    background-color: #414833 !important; 
}
.bg_RobinEggBlue {
    background-color: #00CCCC !important; 
}
.bg_Rose {
    background-color: #FF007F !important; 
}
.bg_RoseBonbon {
    background-color: #F9429E !important; 
}
.bg_RoseEbony {
    background-color: #674846 !important; 
}
.bg_RoseGold {
    background-color: #B76E79 !important; 
}
.bg_RoseMadder {
    background-color: #E32636 !important; 
}
.bg_RosePink {
    background-color: #FF66CC !important; 
}
.bg_Rosequartz {
    background-color: #AA98A9 !important; 
}
.bg_RoseTaupe {
    background-color: #905D5D !important; 
}
.bg_RoseVale {
    background-color: #AB4E52 !important; 
}
.bg_Rosewood {
    background-color: #65000B !important; 
}
.bg_RossoCorsa {
    background-color: #D40000 !important; 
}
.bg_RosyBrown {
    background-color: #BC8F8F !important; 
}
.bg_RoyalAzure {
    background-color: #0038A8 !important; 
}
.bg_RoyalBlue {
    background-color: #002366 !important; 
}
.bg_RoyalBlueWeb {
    background-color: #4169E1 !important; 
}
.bg_RoyalFuchsia {
    background-color: #CA2C92 !important; 
}
.bg_RoyalPurple {
    background-color: #7851A9 !important; 
}
.bg_Ruby {
    background-color: #E0115F !important; 
}
.bg_Ruddy {
    background-color: #FF0028 !important; 
}
.bg_RuddyBrown {
    background-color: #BB6528 !important; 
}
.bg_RuddyPink {
    background-color: #E18E96 !important; 
}
.bg_Rufous {
    background-color: #A81C07 !important; 
}
.bg_Russet {
    background-color: #80461B !important; 
}
.bg_Rust {
    background-color: #B7410E !important;
}
.bg_SacramentoStateGreen {
    background-color: #00563F !important; 
}
.bg_SaddleBrown {
    background-color: #8B4513 !important; 
}
.bg_SafetyOrange .bg_blazeOrange {
    background-color: #FF6700 !important; 
}
.bg_Saffron {
    background-color: #F4C430 !important; 
}
.bg_St.bg_PatricksBlue {
    background-color: #23297A !important; 
}
.bg_Salmon {
    background-color: #FF8C69 !important; 
}
.bg_SalmonPink {
    background-color: #FF91A4 !important; 
}
.bg_Sand {
    background-color: #C2B280 !important; 
}
.bg_SandDune {
    background-color: #967117 !important; 
}
.bg_Sandstorm {
    background-color: #ECD540 !important; 
}
.bg_SandyBrown {
    background-color: #F4A460 !important; 
}
.bg_SandyTaupe {
    background-color: #967117 !important; 
}
.bg_Sangria {
    background-color: #92000A !important; 
}
.bg_SapGreen {
    background-color: #507D2A !important; 
}
.bg_Sapphire {
    background-color: #082567 !important; 
}
.bg_SatinSheenGold {
    background-color: #CBA135 !important; 
}
.bg_Scarlet {
    background-color: #FF2400 !important; 
}
.bg_SchoolBusYellow {
    background-color: #FFD800 !important; 
}
.bg_ScreaminGreen {
    background-color: #76FF7A !important; 
}
.bg_SeaGreen {
    background-color: #2E8B57 !important; 
}
.bg_SealBrown {
    background-color: #321414 !important; 
}
.bg_Seashell {
    background-color: #FFF5EE !important; 
}
.bg_SelectiveYellow {
    background-color: #FFBA00 !important; 
}
.bg_Sepia {
    background-color: #704214 !important; 
}
.bg_Shadow {
    background-color: #8A795D !important; 
}
.bg_ShamrockGreen {
    background-color: #009E60 !important; 
}
.bg_ShockingPink {
    background-color: #FC0FC0 !important; 
}
.bg_Sienna {
    background-color: #882D17 !important; 
}
.bg_Silver {
    background-color: #C0C0C0 !important; 
}
.bg_Sinopia {
    background-color: #CB410B !important; 
}
.bg_Skobeloff {
    background-color: #007474 !important; 
}
.bg_SkyBlue {
    background-color: #87CEEB !important; 
}
.bg_SkyMagenta {
    background-color: #CF71AF !important; 
}
.bg_SlateBlue {
    background-color: #6A5ACD !important; 
}
.bg_SlateGray , .bg_SlateGrey {
    background-color: #708090 !important; 
}
.bg_Smalt, .bg_DarkPowderBlue {
    background-color: #003399 !important; 
}
.bg_SmokeyTopaz {
    background-color: #933D41 !important; 
}
.bg_SmokyBlack {
    background-color: #100C08 !important; 
}
.bg_Snow {
    background-color: #FFFAFA !important; 
}
.bg_SpiroDiscoBall {
    background-color: #0FC0FC !important; 
}
.bg_SplashedWhite {
    background-color: #FEFDFF !important; 
}
.bg_SpringBud {
    background-color: #A7FC00 !important; 
}
.bg_SpringGreen {
    background-color: #00FF7F !important; 
}
.bg_SteelBlue {
    background-color: #4682B4 !important; 
}
.bg_StilDeGrainYellow {
    background-color: #FADA5E !important; 
}
.bg_Stizza {
    background-color: #990000 !important; 
}
.bg_Straw {
    background-color: #E4D96F !important; 
}
.bg_Sunglow {
    background-color: #FFCC33 !important; 
}
.bg_Sunset {
    background-color: #FAD6A5 !important;
}
.bg_Tan {
    background-color: #D2B48C !important; 
}
.bg_Tangelo {
    background-color: #F94D00 !important; 
}
.bg_Tangerine {
    background-color: #F28500 !important; 
}
.bg_TangerineYellow {
    background-color: #FFCC00 !important; 
}
.bg_Taupe {
    background-color: #483C32 !important; 
}
.bg_TaupeGray, .bg_TaupeGrey {
    background-color: #8B8589 !important; 
}
.bg_TeaGreen {
    background-color: #D0F0C0 !important; 
}
.bg_TeaRoseOrange {
    background-color: #F88379 !important; 
}
.bg_TeaRose {
    background-color: #F4C2C2 !important; 
}
.bg_Teal {
    background-color: #008080 !important; 
}
.bg_TealBlue {
    background-color: #367588 !important; 
}
.bg_TealGreen {
    background-color: #006D5B !important; 
}
.bg_Tenne, .bg_Tawny {
    background-color: #CD5700 !important; 
}
.bg_TerraCotta {
    background-color: #E2725B !important; 
}
.bg_Thistle {
    background-color: #D8BFD8 !important; 
}
.bg_ThulianPink {
    background-color: #DE6FA1 !important; 
}
.bg_TickleMePink {
    background-color: #FC89AC !important; 
}
.bg_TiffanyBlue {
    background-color: #0ABAB5 !important; 
}
.bg_TigersEye {
    background-color: #E08D3C !important; 
}
.bg_Timberwolf {
    background-color: #DBD7D2 !important; 
}
.bg_TitaniumYellow {
    background-color: #EEE600 !important; 
}
.bg_Tomato {
    background-color: #FF6347 !important; 
}
.bg_Toolbox {
    background-color: #746CC0 !important; 
}
.bg_TractorRed {
    background-color: #FD0E35 !important; 
}
.bg_TrolleyGrey , .bg_TrolleyGray {
    background-color: #808080 !important; 
}
.bg_TropicalRainForest {
    background-color: #00755E !important; 
}
.bg_TrueBlue {
    background-color: #0073CF !important; 
}
.bg_TuftsBlue {
    background-color: #417DC1 !important; 
}
.bg_Tumbleweed {
    background-color: #DEAA88 !important; 
}
.bg_TurkishRose {
    background-color: #B57281 !important; 
}
.bg_Turquoise {
    background-color: #30D5C8 !important; 
}
.bg_TurquoiseBlue {
    background-color: #00FFEF !important; 
}
.bg_TurquoiseGreen {
    background-color: #A0D6B4 !important; 
}
.bg_TuscanRed {
    background-color: #823535 !important; 
}
.bg_TwilightLavender {
    background-color: #8A496B !important; 
}
.bg_TyrianPurple {
    background-color: #66023C 
}
.bg_UABlue {
    background-color: #0033AA !important; 
}
.bg_UARed {
    background-color: #D9004C !important; 
}
.bg_Ube {
    background-color: #8878C3 !important; 
}
.bg_UCLABlue {
    background-color: #536895 !important; 
}
.bg_UCLAGold {
    background-color: #FFB300 !important; 
}
.bg_UFOGreen {
    background-color: #3CD070 !important; 
}
.bg_Ultramarine {
    background-color: #120A8F !important; 
}
.bg_UltramarineBlue {
    background-color: #4166F5 !important; 
}
.bg_UltraPink {
    background-color: #FF6FFF !important; 
}
.bg_Umber {
    background-color: #635147 !important; 
}
.bg_UnitedNationsBlue {
    background-color: #5B92E5 !important; 
}
.bg_UniversityOfCaliforniaGold {
    background-color: #B78727 !important; 
}
.bg_UnmellowYellow {
    background-color: #FFFF66 !important; 
}
.bg_UPForestGreen {
    background-color: #014421 !important; 
}
.bg_UPMaroon {
    background-color: #7B1113 !important; 
}
.bg_UpsdellRed {
    background-color: #AE2029 !important; 
}
.bg_Urobilin {
    background-color: #E1AD21 !important; 
}
.bg_USCCardinal {
    background-color: #990000 !important; 
}
.bg_USCGold {
    background-color: #FFCC00 !important; 
}
.bg_UtahCrimson {
    background-color: #D3003F !important;
}
.bg_Vanilla {
    background-color: #F3E5AB !important; 
}
.bg_VegasGold {
    background-color: #C5B358 !important; 
}
.bg_VenetianRed {
    background-color: #C80815 !important; 
}
.bg_Verdigris {
    background-color: #43B3AE !important; 
}
.bg_Vermilion {
    background-color: #E34234 !important; 
}
.bg_Veronica {
    background-color: #A020F0 !important; 
}
.bg_Violet {
    background-color: #8F00FF !important; 
}
.bg_VioletColorWheel {
    background-color: #7F00FF !important; 
}
.bg_VioletRYB {
    background-color: #8601AF !important; 
}
.bg_VioletWeb {
    background-color: #EE82EE !important; 
}
.bg_Viridian {
    background-color: #40826D !important; 
}
.bg_VividAuburn {
    background-color: #922724 !important; 
}
.bg_VividBurgundy {
    background-color: #9F1D35 !important; 
}
.bg_VividCerise {
    background-color: #DA1D81 !important; 
}
.bg_VividTangerine {
    background-color: #FFA089 !important; 
}
.bg_VividViolet {
    background-color: #9F00FF !important;
}
.bg_WarmBlack {
    background-color: #004242 !important; 
}
.bg_Wenge {
    background-color: #645452 !important; 
}
.bg_Wheat {
    background-color: #F5DEB3 !important; 
}
.bg_White {
    background-color: #FFFFFF !important; 
}
.bg_WhiteSmoke {
    background-color: #F5F5F5 !important; 
}
.bg_WildBlueYonder {
    background-color: #A2ADD0 !important; 
}
.bg_WildStrawberry {
    background-color: #FF43A4 !important; 
}
.bg_WildWatermelon {
    background-color: #FC6C85 !important; 
}
.bg_Wine {
    background-color: #722F37 !important; 
}
.bg_Wisteria {
    background-color: #C9A0DC !important;
}
.bg_Xanadu {
    background-color: #738678 !important;
}
.bg_YaleBlue {
    background-color: #0F4D92 !important; 
}
.bg_Yellow {
    background-color: #FFFF00 !important; 
}
.bg_YellowMunsell {
    background-color: #EFCC00 !important; 
}
.bg_YellowNCS {
    background-color: #FFD300 !important; 
}
.bg_YellowProcess {
    background-color: #FFEF00 !important; 
}
.bg_YellowRYB {
    background-color: #FEFE33 !important; 
}
.bg_Yellow-Green {
    background-color: #9ACD32 !important;
}
.bg_Zaffre  {
    background-color: #0014A8 !important;
 }
.bg_ZinnwalditeBrown  {
    background-color: #2C1608 !important;
 }